USE [master]
GO
/****** Object:  Database [CafeApplication]    Script Date: 3/31/2018 9:34:33 PM ******/
CREATE DATABASE [CafeApplication]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CafeApplication', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\CafeApplication.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CafeApplication_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\CafeApplication_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CafeApplication].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CafeApplication]
GO
USE [CafeApplication]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 3/31/2018 9:34:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Consommateur]    Script Date: 3/31/2018 9:34:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consommateur](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[AddedDate] [datetime2](7) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[IPAddress] [nvarchar](max) NULL,
	[Nom] [nvarchar](max) NOT NULL,
	[Prenom] [nvarchar](max) NOT NULL,
	[DerniereSelection] [bit] NOT NULL,
 CONSTRAINT [PK_Consommateur] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Consommation]    Script Date: 3/31/2018 9:34:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consommation](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[AddedDate] [datetime2](7) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[IPAddress] [nvarchar](max) NULL,
	[ConsommateurID] [bigint] NOT NULL,
	[TypeBoisson] [int] NOT NULL,
	[NombreCuilliere] [int] NOT NULL,
	[PropreMug] [bit] NOT NULL,
 CONSTRAINT [PK_Consommation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Index [IX_Consommation_ConsommateurID]    Script Date: 3/31/2018 9:34:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_Consommation_ConsommateurID] ON [dbo].[Consommation]
(
	[ConsommateurID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Consommation]  WITH CHECK ADD  CONSTRAINT [FK_Consommation_Consommateur_ConsommateurID] FOREIGN KEY([ConsommateurID])
REFERENCES [dbo].[Consommateur] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Consommation] CHECK CONSTRAINT [FK_Consommation_Consommateur_ConsommateurID]
GO
USE [master]
GO
